body {
    margin: 0;
    background-image: url(/background/back_home_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: white;
    opacity: 0.8;
}

.flex {
    display: flex;
}

.img {
    width: 40%;
    margin-top: 10%;
    border-radius: 50px;
}

#slider {
    text-align: center;
}